@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 1.3;


}

.ak_logo_img {
    width: 4rem;
    transition: all linear 0.5s;
    border-radius: 50%;
    filter: hue-rotate(160deg);


}

.span-logo {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.custom-navbar {
    background-color: #000000;
    justify-content: space-between;
    font-size: 15px;
}

#navItem1,
#navItem2,
#navItem3,
#navItem4,
#navItem5,
#navItem6 {
    color: #FFFFFF;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    transition: all linear 0.5s;
    margin-right: 10px;
    text-decoration: none;
    padding: 6px;
    border: 2px solid #313131;
    border-radius: 8px;
}

#navItem1:hover,
#navItem2:hover,
#navItem3:hover,
#navItem4:hover,
#navItem5:hover,
#navItem6:hover {
    color: #ff4533;
    border: 2px solid #ff4533;
}


.active {
    color: #ff4533 !important;
    border: 2px solid #ff4533 !important;
}

.Home-section {
    background-image: url("./assests/backgroundHome.jpg");
    height: 100vh;
    background-size: cover;
    opacity: 0.9;
}

.content {
    background: transparent;
    background-color: #000000;
    opacity: 0.5;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    /* height: 100vh; */
}



.aboutBtn {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #f9f6f6;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {

    #navItem1,
    #navItem2,
    #navItem3,
    #navItem4,
    #navItem5,
    #navItem6 {
        text-align: center;
    }

    .Home-section {
        background-image: url("./assests/backgroundHome.jpg");
        height: 80vh;
        opacity: 0.9;
    }

    .Home-heading {
        color: rgb(243, 235, 235);
        font-size: 32px;
        font-weight: 600;
    }

    .Home-caption {
        color: rgb(254, 251, 251);
        font-size: 18px;
        font-weight: 400;
    }

    .Home-designation {
        color: #f5f2f2;
        font-size: 14px;
        font-weight: 600;
    }

    .aboutBtn {
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        font-weight: 600;
        font-size: 12px;
        background-color: #0b0b0b;
        /* border:none; */
        color: rgb(252, 248, 248);
    }

    .content {
        width: 250px;
        padding: 20px;
    }
}

/* --------------
aboutsection
=--------------- */


.about-section-img {
    width: 270px;
    margin-top: 15vh;
    filter: invert(1);
    border-radius: 50%;
}

.section-heading {
    color: #141414;
    font-family: 'poppins';
    font-size: 28px;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: #ffffff;
}


.section-heading:after {
    content: "";
    display: block;
    position: relative;
    top: 15px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #ff4533;
}

.description1 {
    color: #FFFFFF;
    font-family: 'poppins';
    font-size: 18px;
}

.description1 a:hover {
    text-decoration: none;

}

.about-section-para {
    color: #FFFFFF;
    font-family: 'poppins';
    font-size: 24px;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
}


/* -----------------------------------
Resume 
----------------------------------- */

.resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    width: 100%;
}

.resume-item,
.skill_main {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #ff4533;
    position: relative;
}

.resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'poppins';
    color: #ff4533;
    margin-bottom: 10px;
    margin-left: 5px;
}

.resume-item h5 {
    font-size: 16px;
    background: #18181b;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

}

.resume-item ul {
    padding-left: 20px;
}

.resume-item ul li {
    padding-bottom: 10px;
    list-style-type: none;
}


.resume-item::before,
.skill_main::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #ff4533;
    border: 2px solid #ff4533;
}

.skill_bar {
    margin-top: 5px;
    padding: 10px;
}


.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-weight: 600;
}

.bar {
    width: 100%;
    height: 10px;
    background-color: #313131;
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #c8c8c8;
    border-radius: 25px;
}

.bar .html {
    width: 90%;
    animation: html 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.bar .css {
    width: 90%;
    animation: css 2s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.bar .bootstrap {
    width: 80%;
    animation: bootstrap 2s;
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.bar .js {
    width: 80%;
    animation: js 2s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.bar .react {
    width: 70%;
    animation: react 2s;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.bar .node {
    width: 60%;
    animation: node 2s;
}

@keyframes node {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.bar .express {
    width: 55%;
    animation: express 2s;
}

@keyframes express {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

.bar .php {
    width: 65%;
    animation: php 2s;
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.bar .sql {
    width: 80%;
    animation: sql 2s;
}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.bar .python {
    width: 65%;
    animation: python 2s;
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

/* ---------------------
Portfolio
--------------------- */

.project-image {
    border-radius: 16px;
}

.project-title {
    color: #ffffff;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
}



.project-link {
    color: #c8c8c8;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 600;
}

.project-link:hover {
    text-decoration: none;
    color: #ff4533;
}

.project-section {
    border-radius: 16px;
    background-color: #18181b;
}

.project-logo {
    width: 30px;
    height: 30px;
}

.project-logo-react {
    width: 28px;
    height: 24px;
}

/* ----------------------
Contact
---------------------- */


.contact-section .infor {
    width: 100%;
    padding: 50px;
    background-color: #18181b;
    box-sizing: border-box;
    border-radius: 16px;
}

.contact-section .infor i {
    font-size: 20px;
    color: #FFFFFF;
    float: left;
    width: 44px;
    height: 44px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact-section .infor h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffffff;
}

.contact-section .infor p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #FFFFFF;
}

.contact-section .infor .email p {
    padding-top: 5px;
}

.contact-section .infor .email:hover i,
.contact-section .infor .address:hover i,
.contact-section .infor .phone:hover i {
    color: #ff4533;
}

.description-contact {
    color: #FFFFFF;
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 400;
}

.box {
    width: 100%;
    padding: 40px;
    background-color: #18181b;
    box-sizing: border-box;
    border-radius: 16px;
}


.box h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
}

.box .inputBox {
    position: relative;
    margin-bottom: 20px;
}

::placeholder {
    font-size: 12px;
    font-weight: 400;
}

.box .inputBox input,
.box .inputBox textarea {
    width: 100%;
    padding: 8px 5px;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 4px;
    /* border: none; */
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    font-weight: 600;
}

.box .inputBox label {
    position: absolute;
    top: 0px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #FFFFFF;
    pointer-events: none;
    transition: 0.5s;
    font-weight: 600;
}

.box .inputBox input:valid~label,
.box .inputBox textarea:valid~label {
    top: -28px;
    left: 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}


#sub {
    color: #ff4533;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ff4533;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    line-height: 1;
    text-decoration: none;
    transition: all linear 0.5s;
    font-size: 16px;
    display: block;
    width: 100%;


}

#sub:hover {
    color: #ff4533;
    outline: none;
    box-shadow: 3px 3px 0 0 #ff4533;
    transform: translate(-4px, -4px);
    transition: 0.2s;
}


.inputBox small {
    visibility: hidden;
    margin: 4px 0;
}

.inputBox.success input,
.inputBox.success textarea {
    border-color: green;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

}

.inputBox.error input,
.inputBox.error textarea {
    border-color: red;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

}

.inputBox.error small {
    visibility: visible;
    color: red;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

}

::placeholder {
    color: #ffffff;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

}

/* ------------
footer
------------ */


.footer {
    background-color: #000000;
}

.description {
    color: #ffffff;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-weight: 400;
}

.footer-group {
    padding: 0 10px;
}

.copy-icon {
    color: #ffffff;
    font-size: 22px;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all linear 0.5s;
}

@media (max-width: 1080px) {
    .social-media-links {
        left: 20px;
        right: auto;
    }
}

@media (max-width: 1080px) {
    .g-mail {
        left: auto;
        right: 20px;
    }
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all linear 0.5s;
}

.box-animation:hover {
    outline: none;
    box-shadow: 3px 3px 0 0 #ff4533;
    transform: translate(-4px, -4px);
    transition: 0.2s;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.portfolio-logo {
    font-size: 35px;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    align-self: center;
}

.resume-button {
    color: #ff4533;
    background-color: transparent;
    border-radius: 4px;
    /* padding: 0.75rem 1rem; */
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    line-height: 1;
    text-decoration: none;
    /* margin-left: 15px; */
    font-size: 15px;
}

.template-section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
    text-align: center;
    z-index: 1;
}

.section1 {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

.template-section h1 {
    margin: 0px 0px 30px 4px;
    color: #ff4533;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.1;
}

.template-section .buttons {
    color: #ff4533;
    background-color: transparent;
    border: 2px solid #ff4533;
    border-radius: 8px;
    padding: 1.25rem 1.75rem;
    font-size: 16px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    line-height: 1;
    text-decoration: none;
    transition: all linear 0.2s;
    margin:25px;

}

.big-heading {
    margin: 0;
    font-size: 60px;
}

.custom-name {
    background: linear-gradient(to right, red, #ff4533);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;

}

.social-media-links {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #FFFFFF;
}

@media (max-width: 1080px) {
    .social-media-links {
        left: 20px;
        right: auto;
    }
}

.social-media-sec {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all linear 0.5s;
}

.social-media-sec::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #FFFFFF;
}

.social-media-sec li a {
    padding: 10px;
}

.g-mail-sec {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.g-mail-sec a {
    margin: 20px auto;
    padding: 10px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

@media (max-width: 1080px) {
    .g-mail {
        left: auto;
        right: 20px;
    }
}

.g-mail {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 100;
    color: #FFFFFF;
}

.g-mail-sec::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #FFFFFF;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #ff4533;
}

.custom-font-color {
    color: #ff4533;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

#social-logos:hover,
#mail:hover {
    text-decoration: none;
    color: #ff4533;
}

@media only screen and (max-width: 600px) {
    .social-media-links {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .g-mail {
        display: none;
    }
}

@media (max-width: 798px) {
    .template-section {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 801px) {
    .template-section {
        width: 100%;
        height: 100%;
    }
}

.template-section p {
    margin: 20px 0px 0px;
}

.nav-line {
    background-color: #ff4533;
    width: 2px;
    margin-right: 15px;
    margin-left: 15px;
}

.bg-line_decorators {
    width: 100%;
    height: 100%;
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.vertical-line-global {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
}

.vertical-line-wrapper {
    z-index: 1;
    width: 100%;
    height: 100vh;
    max-width: 85rem;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.bg-line-line-global {
    width: 2px;
    height: 100%;
    background-color: #1a1a1a;
    position: absolute;
    z-index: 1;
}

.bg-line-line-global.is-first {
    left: 0%;
}

.bg-line-line-global.is-second {
    left: 25%;
}

.bg-line-line-global.is-third {
    left: 50%;
    z-index: -1;
}

.bg-line-line-global.is-fourth {
    left: 75%;
}

.bg-line-line-global.is-fifth {
    left: 100%;
}

.vertical-line.is-1 {
    height: 10rem;
    top: 17%;
    left: 0%;
}

.vertical-line.is-2 {
    height: 8rem;
    top: 79%;
    left: 25%;
}

.vertical-line.is-3 {
    height: 5rem;
    top: 15%;
    left: 50%;
}

.vertical-line.is-4 {
    height: 8rem;
    top: 79%;
    left: 75%;
}

.vertical-line.is-5 {
    height: 10rem;
    top: 17%;
    left: 100%;
}

.vertical-line.is-6 {
    height: 15rem;
    top: 185%;
    left: 75%;
}

.vertical-line.is-7 {
    height: 35rem;
    top: 455%;
    left: 0%;
}

.vertical-line.is-8 {
    height: 20rem;
    top: 650%;
    left: 75%;
}

.vertical-line.is-9 {
    height: 20rem;
    top: 700%;
    left: 25%;
}

.vertical-line.is-10 {
    height: 43rem;
    top: 550%;
    left: 100%;
}

.vertical-line {
    width: 2px;
    background-color: #ff4533;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    .bg-line_decorators {
        display: none;
    }
}


.custom-cursor {
    position: fixed;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    transition: all 400ms ease-out;
    border: 2px solid #ff4533;
}

.custom-cursor::after {
    content: '';
    position: absolute;
    width: 0.3rem;
    box-sizing: border-box;
    height: 0.3rem;
    background-color: #ff4533;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transition: all 400ms ease-out;
    transform: translate(-50%, -50%);
}

.progress-bar {
    position: fixed;
    z-index: 9999;
    height: 3px;
    background: #ff4533;
    transition: 400ms ease-out;
}

.spinner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#ff0000 94%,#0000) top/9px 9px no-repeat,
           conic-gradient(#0000 30%,#ff0000);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-c7wet2 1s infinite linear;
    position: relative;
    left:50%;
 }
 
 @keyframes spinner-c7wet2 {
    100% {
       transform: rotate(1turn);
    }
 }
.default-button {
        color: #ff4533;
        background-color: transparent;
        border: 2px solid #ff4533;
        border-radius: 8px;
        padding: 1rem;
        font-size: 16px;
        line-height: 1;
        text-decoration: none;
        margin-bottom: 1rem;
    }

